---
title: 文字排版
description: 文字的排版演示

css:
  - demos/typography-words

compatibility:
  ie: 7+
---

<div class="demo-example">
  <section class="demo-section">
    <header>
      <h2>衬线字体（Serif）</h2>
    </header>
    <div>
      <p class="align-middle"><span class="word-large">大</span><span class="word-small">小</span><span class="word-medium">中</span><span class="word-small">小</span></p>
      <p class="align-bottom"><span class="word-large">大</span><span class="word-small">小</span><span class="word-medium">中</span><span class="word-small">小</span></p>
    </div>
  </section>
  <section class="demo-section font--sans">
    <header>
      <h2>无衬线字体（Sans-serif）</h2>
    </header>
    <div>
      <p class="align-middle"><span class="word-large">大</span><span class="word-small">小</span><span class="word-medium">中</span><span class="word-small">小</span></p>
      <p class="align-bottom"><span class="word-large">大</span><span class="word-small">小</span><span class="word-medium">中</span><span class="word-small">小</span></p>
    </div>
  </section>
</div>
