---
page_category: skills

title: 技能表
description: 我所掌握的技能、知识的程度
permalink: /skills/
---

<h2 class="heading">技术</h2>
<table>
  <colgroup>
    <col style="width: 150px;">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>技能</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTML</td>
      <td rowspan="3">编写足够语义化的网页</td>
    </tr>
    <tr><td>XHTML</td></tr>
    <tr><td>HTML5</td></tr>
    <tr>
      <td>CSS2</td>
      <td rowspan="2">能够完成各种布局，些许特效。倾向于具备可变性、适应性高的写法。<br>★目前主要用 Sass + Compass 来编写样式。</td>
    </tr>
    <tr><td>CSS3</td></tr>
    <tr>
      <td>JavaScript</td>
      <td rowspan="2">能够利用 jQuery 编写一些增强组件及插件，用原生 JavaScript 编写与 DOM 无关的工具库。<br>★目前主要用 CoffeeScript 来编写脚本。</td>
    </tr>
    <tr><td>jQuery</td></tr>    
    <tr>
      <td>PHP</td>
      <td>能够进行简单的文件读写、数据库操作等</td>
    </tr>
  </tbody>
</table>
<h2 class="heading">框架</h2>
<table>
  <colgroup>
    <col style="width: 150px;">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>技能</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ruby on Rails</td>
      <td>虽然不太会 Ruby，但对整个框架的结构较为熟悉，能够熟练使用 slim、erb 和 widget。</td>
    </tr>
    <tr>
      <td><a href="http://backbonejs.org/" target="_blank" rel="external nofollow">Backbone.js</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://marionettejs.com/" target="_blank" rel="external nofollow">Marionette.js</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
