---
layout: page
layout_type: sandwich

page_category: 404

title: 阿姆斯特朗回旋加速喷气式阿姆斯特朗炮发射中心
description: 亲，你妈喊你<a href="/">回家</a>吃饭。
---

<div class="page-404">
  <img src="{{ site.data.url.site | append: '/' | append: site.data.url.img }}/404.jpg" alt="404">
  <p>这么隐蔽的地方都被你发现了！！！你是怎么找到这的？！</p>
</div>
