---
layout: homepage
layout_type: sandwich

css:
  - pages/home
---

<main class="layout-container">
  <header class="Profile">
    {% assign author = site.data.author %}
    <a href="{{ author.profile }}" target="_blank" class="Profile-avatar"><img src="{{ author.avatar }}"></a>
    <h1 class="Profile-name"><a href="{{ author.profile }}" target="_blank">{{ author.name.zh }}</a></h1>
    <ul class="Profile-professions">
      {% for prof in author.profession %}
      <li>{{ prof }}</li>
      {% endfor %}
    </ul>
    <p class="Profile-description">{{ author.description }}</p>
    <ul class="Profile-contacts">
      <li>{{ author.location }}</li>
      <li><a href="mailto:{{ author.contact.email }}">{{ author.contact.email }}</a></li>
    </ul>
  </header>
  <div class="layout-content">
    <div class="Navs">
      <ul>
        <li class="Nav-cell"><a href="#"><span class="Cell-count" data-counter="repo">0</span><span class="Cell-label">个开源项目</span></a></li>
        <!-- <li class="Nav-cell"><a href="#"><span class="Cell-count">18</span><span class="Cell-label">项开发技能</span></a></li> -->
      </ul>
    </div>
    <div>
      <div class="Grid Projects"></div>
    </div>
  </div>
</main>
{% assign js_url = site.data.url.root | append: "/" | append: site.data.url.js %}
<script src="{{ js_url }}/site.js"></script>
<script src="{{ js_url }}/pages/home.js"></script>
<script>Tatami.sandbox();</script>
