@import "../helpers";

.article-header {
  margin-bottom: 2em;

  h1 {
    margin-bottom: .3em;
  }
}

.article-author {
  @include inline-block(none);

  .avatar_url {
    display: block;
    @include box-sizing(border-box);
    @include square(30px);
  }

  .avatar {
    @include square(100%);
    border: 1px solid #FFF;
    border-radius: 100%;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .4));
    vertical-align: middle;
  }
}

.article-switcher {
  width: 100%;
  min-height: 50px;
  display: table;
  position: relative;
  margin-top: 30px;

  .prev_article,
  .next_article {
    display: table-cell;
    width: 50%;
    border: 1px solid transparent;
    @include border-radius(3px);
    vertical-align: middle;
    font-size: 1.3em;
    padding: 8px 15px;
  }

  a.prev_article:hover,
  a.next_article:hover {
    border-color: #C5CACE;
    text-decoration: none;
    background-color: #EFEFEF;
  }

  .prev_article:before,
  .next_article:after {
    position: absolute;
    top: 50%;
    height: 50px;
    line-height: 46px;
    margin-top: -25px;
    font: {
      family: sans-serif;
      size: 40px;
    }
  }

  .prev_article {
    padding-left: 50px;

    &:before {
      content: "\00AB";
      left: 10px;
    }
  }

  .next_article {
    padding-right: 50px;
    text-align: right;

    &:after {
      content: "\00BB";
      right: 10px;
    }
  }

  span.prev_article:before,
  span.next_article:after {
    content: "\0020";
  }
}

.related_articles {
  @include clearfix;
  @include no_item;
  position: relative;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0 0;
  margin: 20px 5px 30px;

  &:before {
    content: "Related Articles";
    font-size: 12px;
    line-height: 14px;
    color: #A6A6A6;
    text-transform: uppercase;
    text-align: center;
    @include text-shadow(0 1px #FFF);
    position: absolute;
    top: -7px;
    left: 50%;
    width: 130px;
    height: 14px;
    margin-left: -65px;
    @include box-shadow(#F7F7F7 0 0 0 5px);
    background-color: #F7F7F7;
  }

  li {
    width: percent(1, 2);
    float: left;
    line-height: 1.8;
    overflow: hidden;

    &:before {
      content: "\2749";
      float: left;
      color: $color-text-light;
      margin-right: .5em;
      line-height: 25px;
    }

    a {
      display: block;
      @include text-ellipsis;
      margin-right: 20px;
    }
  }
}

#disqus_thread {
  margin: 1.5em 0 3em;
}
