@import "../helpers";



body {
  background-color: #E9E9E9;
}

.layout--sandwich .layout-container {
  &:before{
    display: none;
  }

  &:after {
    height: 30px;
  }
}



// Profile

.Profile {
  padding: {
    top: 30px;
    bottom: 25px;
  }
  text-align: center;
  background-color: #FFF;
}

.Profile-avatar img {
  @include square(100px);
  @include border-radius(50%);
  vertical-align: middle;
}

.Profile-name {
  margin: {
    top: 20px;
    bottom: 3px;
  }
  font-size: 30px;
  line-height: 1.2;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #666;
    }
  }
}

.Profile-professions,
.Profile-contacts {
  @include no_item;
  @include no_gap;
  @include inline-block;
  font-size: 12px;

  li {
    @include inline-block;
  }
}

.Profile-professions {
  color: #9A9A9A;
}

.Profile-contacts li {
  &:before {
    content: "\00B7";
    display: inline;
    margin: 0 1px;
  }

  &:first-child:before {
    display: none;
  }
}

.Profile-description {
  margin: {
    top: 20px;
    bottom: 20px;
  }
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}



// Nav tabs

.Navs {
  margin: auto;
  padding-bottom: 13px;
  background-color: #FFF;
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1));
  text-align: center;

  &:before {
    content: "\0020";
    display: block;
    width: 96%;
    height: 1px;
    margin: 0 auto;
    background-color: #EEE;
  }

  ul {
    @include no_item;
    margin: 13px auto 0;
    padding: 0;
    display: table;
    table-layout: fixed;
  }
}

.Nav-cell {
  display: table-cell;

  a {
    display: block;
    width: 120px;
    text-decoration: none;
    line-height: 1.4;
  }
}

.Cell-count,
.Cell-label {
  display: block;
}

.Cell-count {
  font-size: 16px;
  font-weight: bold;
}

.Cell-label {
  font-size: 12px;
}



.Grid,
.Grid * {
  @include box-sizing(border-box);
}

.Grid {
  margin: 0 auto;
  max-width: 1200px;
  @include clearfix;

  @media (max-width: 1199px) {
    width: 960px;
  }
}

.Grid-item {
  width: 25%;
  float: left;
  padding: 0 7.5px;
  margin-top: 15px;

  @media (max-width: 1199px) {
    width: 33.3333333%;
  }
}

.Card {
  min-height: 150px;
  background-color: #FFF;
  @include border-radius(6px);
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));

  > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
}



.Repo-name {
  margin: 0;
  float: left;
}

.Repo-language,
.Repo-stargazers {
  display: block;
  font-weight: bold;
}

.Repo-language {
  text-align: right;
  font-size: 10px;
  line-height: 14px * 1.5;
}

.Repo-stargazers {
  clear: both;
  margin-top: 5px;
  font-size: 12px;
}

.Repo-description {
  line-height: 1.5;
}
