<fieldset>
  <legend>基本信息</legend>
  <div class="form-group">
    <label for="{{ include.form }}_nickname">昵称</label>
    <input id="{{ include.form }}_nickname" class="form-control" type="text" name="nickname" value="" required="required">
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_email">邮箱</label>
    <input id="{{ include.form }}_email" class="form-control" type="email" name="email" value="" placeholder="ourai@example.com" required="required">
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_description">个人简介</label>
    <textarea id="{{ include.form }}_description" class="form-control" name="description" pattern=".*0" required="required" minlength="2" maxlength="4" rows="4" placeholder="请用 2～4 个字描述一下自己"></textarea>
  </div>
</fieldset>
<fieldset>
  <legend>详细信息</legend>
  <div class="form-group">
    <label for="{{ include.form }}_website">个人网站</label>
    <input id="{{ include.form }}_website" class="form-control" type="url" name="website" value="">
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_telephone">电话</label>
    <input id="{{ include.form }}_telephone" class="form-control" type="tel" name="telephone" value="">
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_gender">性别</label>
    <select id="{{ include.form }}_gender" name="gender" class="form-control" required>
      <option></option>
      <option value="1">男</option>
      <option value="0">女</option>
    </select>
  </div>
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" name="sexual_orientation" value="1" required="required"> 男</label>
    <label class="checkbox-inline"><input type="checkbox" name="sexual_orientation" value="0" data-h5f-required="true" data-h5f-label="性取向"> 女</label>
  </div>
  <div class="form-group">
    <label class="radio-inline"><input type="radio" name="marriage" value="0"> 单身</label>
    <label class="radio-inline"><input type="radio" name="marriage" value="1" required="required" data-h5f-label="婚恋状态"> 恋爱</label>
    <label class="radio-inline"><input type="radio" name="marriage" value="2"> 已婚</label>
    <label class="radio-inline"><input type="radio" name="marriage" value="3"> 离婚</label>
    <label class="radio-inline"><input type="radio" name="marriage" value="4"> 丧偶</label>
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_children">孩子数量</label>
    <input id="{{ include.form }}_children" class="form-control" type="number" name="children" value="0" required="required" min="5" max="10" pattern=".*0">
  </div>
</fieldset>
<fieldset>
  <legend>安全信息</legend>
  <div class="form-group">
    <label for="{{ include.form }}_password">密码</label>
    <input id="{{ include.form }}_password" class="form-control" type="password" name="password" value="" required="required" minlength="4" maxlength="10" placeholder="请输入 4～10 个字符">
  </div>
  <div class="form-group">
    <label for="{{ include.form }}_passwordConfirmation">确认密码</label>
    <input id="{{ include.form }}_passwordConfirmation" class="form-control" type="password" name="password_confirmation" value="" data-h5f-associate="{{ include.form }}_password" placeholder="请再输入一次密码">
  </div>
</fieldset>
<input class="btn btn-primary btn-block" type="submit">
