---
layout: page
template: page

page_category: projects

title: 项目
description: 托管在 <a href="https://github.com/ourai" target="_blank">GitHub</a> 上的开源项目以及在职期间所参与过的就职公司的项目
permalink: /projects/
---

<div class="Tabs">
  <div class="Tabs-triggers"><a href="#" class="Tabs-trigger js-trigger--tab" data-flag="opensource">开源项目</a><a href="#" class="Tabs-trigger js-trigger--tab" data-flag="enterprise">企业项目</a></div>
  {% assign projects = site.data.projects %}
  <!-- 开源项目 -->
  <div class="Tabs-content repos" data-flag="opensource">
    {% for repo in projects.opensource reversed %}
    {% assign repoinfo = repo[1] %}
    <section class="project">
      <header>
        <h2 class="project-name">{% if repoinfo.homepage == null or repoinfo.homepage == blank %}<a href="{{ repoinfo.url }}" target="_blank" rel="external nofollow">{{ repoinfo.name.en }}</a>{% else %}<a href="{{ repoinfo.homepage }}">{{ repoinfo.name.en }}</a>{% endif %}</h2>
      </header>
      <div class="project-description">
        <p>{{ repoinfo.description }}</p>
      </div>
    </section>
    {% endfor %}
  </div>
  <!-- 企业项目 -->
  <div class="Tabs-content projects" data-flag="enterprise">
    {% for project in projects.enterprise reversed %}
      <section class="project">
        <header>
          {% assign prj_name = project.name.zh %}
          {% if project.image.thumbnail == true %}
            <div class="project-thumbnail" style="background-image: url('{{ site.data.url.root }}/{{ site.data.url.img }}/projects/{{ project.image.thumbnail }}')"><img src="{{ site.data.url.root }}/{{ site.data.url.img }}/projects/{{ project.image.thumbnail }}" alt="{{ prj_name }}"></div>
          {% endif %}
          <h2 class="project-name">{% if project.url %}<a href="{{ project.url }}" target="_blank" rel="external nofollow" title="{{ prj_name }}">{{ prj_name }}</a>{% else %}{{ prj_name }}{% endif %}</h2>
          <div class="project-period"><time datetime="{{ project.period.start | date: '%Y-%m-%d' }}">{{ project.period.start | date: "%Y.%m" }}</time> – {% if project.period.end %}<time datetime="{{ project.period.end | date: '%Y-%m-%d' }}">{{ project.period.end | date: "%Y.%m" }}</time>{% else %}<time datetime="{{ site.time | date: '%Y-%m-%d' }}">现在</time>{% endif %}</div>
        </header>
        <div class="project-description">
          <p>{{ project.description }}</p>
        </div>
      </section>
    {% endfor %}
  </div>
</div>
