.demoContainer {
  position: relative;
  width: 300px;
  margin: 50px auto 0;
}

.textInputer {
  border-radius: 6px;
  border: 2px solid #DDD;
}

.textContent {
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  background-color: wheat;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  display: none;
}
