@charset "UTF-8";



body {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Tahoma, Verdana, "BitStream vera Sans", Arial, Helvetica, Sans-serif;
    background-color: #EEE;
}
a:link, a:visited { text-decoration: none; color: #758694; }
a:hover { text-decoration: underline; color: #888; }

#content { width: 50em; margin: 3em auto; padding: 1em; background-color: #FFF; }

#infoTitle { font-size: 16px; }
#infoList { border-top: 1px solid #A6A6A6; margin-top: 10px; }

.item { border-top: 1px solid #DDD; padding: 10px 0; }
.item:first-child { border-top: none; }
.avatar { width: 40px; height: 40px; float: left; margin-right: 10px; }
.author, .action { line-height: 2; }
.action { margin-left: 5px; color: #758694; }
.title { font-size: 14px; line-height: 1; margin-bottom: 2px; }
.title a { color: #259; }
.description { text-indent: 0; padding: 0; margin: 5px; line-height: 1.5; }
.description, .meta { margin-left: 50px; }
.meta > a,
.meta > span { margin-right: 1em; }