#courseList{padding-top:30px}.course-thumbnail{width:100%;height:0;padding-bottom:66.66667%;overflow:hidden;position:relative;margin-bottom:30px}.course-thumbnail a{position:absolute;top:0;right:0;bottom:0;left:0}.course-thumbnail img{width:100%;height:100%}
