@charset "UTF-8";



body { background-color: #DDD; }
form { width: 400px; border: 1px solid #A6A6A6; margin: 100px auto; padding: 10px; background-color: #F7F7F7; }

dl { overflow: hidden; }
dt { width: 3em; float: left; text-align: right; }
dd { margin-left: 3.5em; }

dt span { letter-spacing: 1em; }

.hide-text { text-indent: -999em; font: 0/0 a; color: transparent; }