---
layout: project/matcha
permalink: /projects/matcha/
css:
  - matcha-fix
  - templates/project/matcha
---

<header class="layout-content-head">
  <h1>Matcha</h1>
  <p>
    <span class="tagline">A Flexible, Responsive UI Framework</span>
    <span>by <a class="avatar_link" href="{{ site.data.author.profile }}" target="_blank"><img src="{{ site.data.author.avatar }}?s=128" alt="{{ site.data.author.name.en }}"></a><a class="name_link" href="{{ site.data.author.profile }}" target="_blank">{{ site.data.author.name.en }}</a></span>
  </p>
</header>
<div class="components">
  <!-- Dropdown List -->
  <div class="component" id="demo-ddl">
    <h2 class="component-title">Dropdown List</h2>
    <div class="component-demo">
      <select class="DropList">
        <option value="Chinese">Chinese</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Hindi">Hindi</option>
        <option value="English">English</option>
        <option value="Italian" selected>Italian</option>
        <option value="French">French</option>
        <option value="Spanish">Spanish</option>
        <option value="Welsh">Welsh</option>
        <option value="Urdu">Urdu</option>
        <option value="Vietnamese">Vietnamese</option>
        <option value="Malay">Malay</option>
      </select>
    </div>
  </div>
  <!-- Score -->
  <div class="component" id="demo-score">
    <h2 class="component-title">Score (Levels of Evaluation)</h2>
    <div class="component-demo">
      <div class="Score--selectable" data-highest="5"></div>
    </div>
  </div>
  <!-- Tabs -->
  <div class="component" id="demo-tabs">
    <h2 class="component-title">Tabs</h2>
    <div class="component-demo">
      <div class="Tabs">
        <div class="Tabs-triggers">
          <a href="#" class="Tabs-trigger js-trigger--tab" data-flag="tab-1">Tab-1</a>
          <a href="#" class="Tabs-trigger js-trigger--tab" data-flag="tab-2">Tab-2</a>
          <a href="#" class="Tabs-trigger js-trigger--tab" data-flag="tab-3">Tab-3</a>
        </div>
        <div class="Tabs-content" data-flag="tab-1">Tab-1's content</div>
        <div class="Tabs-content" data-flag="tab-2">Tab-2's content</div>
        <div class="Tabs-content" data-flag="tab-3">Tab-3's content</div>
      </div>
    </div>
  </div>
  <!-- Button -->
  <div class="component" id="demo-buttons">
    <h2 class="component-title">Buttons</h2>
    <div class="component-demo">
      <button type="button" class="Button">Default</button>
      <a href="javascript:void(0);" class="Button--info">Info</a>
      <span class="Button--warning">Warning</span>
      <a class="Button" disabled="disabled">Disabled</a>
    </div>
  </div>
  <!-- Item -->
  <div class="component" id="demo-items">
    <h2 class="component-title">Items</h2>
    <div class="component-demo">
      <div class="Item">
        <div class="Item-user">
          <img class="Item-avatar" src="https://avatars1.githubusercontent.com/u/562589" alt="">
          <span class="Item-name">欧雷</span>
        </div>
        <div class="Item-content">
          <div class="Item-header"><h3 class="Item-title"><a href="http://ourai.ws/reflection-after-physical-examination/" target="_blank">一次体检引起的反思</a></h3></div>
          <div class="Item-body">
            <p>我要公布一个今天体检时所得知的爆炸性新闻，当然是与我有关——</p>
            <p>第一项是血常规，登记时发了长短不一的三个管子，排在我前面的同事因为晕血而灰溜溜地「下台」了（其实是进「小黑屋」享受特殊待遇了）。我早已把手机拿在右手中做好准备，将已经爆出青筋的左臂伸出去，直勾勾地看着工作人员将细针扎进去。弄了好几下还没血流出来，我有点无语：「怎么不往那根明显的血管里扎啊？」话音刚落，只见接在细针上的皮管中流出了深红色看起来有点黏稠的液体……可能是我右手的姿势有点怪，并且另一位工作人员发现我在看手机屏幕：「这里不能拍照！」还没等我做任何反应，排在后面的人笑着说：「他没有拍照，是在录像！」我嬉皮笑脸地把手机摄像头关掉了。本来还想拍下整个抽血过程，显示出我的「英勇」呢！</p>
          </div>
          <div class="Item-footer">Oct 15th, 2014</div>
        </div>
      </div>
    </div>
  </div>
  <div class="component" id="demo-aspectRatio">
    <h2 class="component-title">Fixed aspect ratio</h2>
    <div class="component-demo">
      <div class="Column--50">
        <div class="u-aspectRatio u-aspectRatio--2to1">
          <img src="http://placehold.it/200x400">
        </div>
      </div>
      <div class="Column--50">
        <div class="u-aspectRatio u-aspectRatio--2to1">
          <a href="#"><img src="http://placehold.it/200x400" class="u-fillUp"></a>
        </div>
      </div>
    </div>
  </div>
</div>
