<header class="layout-header">
  <nav class="layout-nav layout-inner">
    <ul>
      <li><a href="{{ site.data.url.site }}/">首页</a></li>
      <!-- <li><a href="{{ site.data.url.article }}">文章</a></li> -->
      <!-- <li><a href="{{ site.data.url.tutorial }}">教程</a></li> -->
      <!-- <li><a href="javascript:void(0);">专题</a></li> -->
      <!-- <li><a href="{{ site.data.url.demo }}">演示</a></li> -->
      <li><a href="{{ site.data.url.project }}">项目</a></li>
    </ul>
  </nav>
</header>
