  <!--[if lt IE 8]>
  <div class="forbidden_message">
    <p>很抱歉，本站不支持低于 Internet Explorer 8 的浏览器。</p>
    <p>如果您想继续用 Internet Explorer 浏览器访问本站，请先<a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级</a>。</p>
  </div>
  <![endif]-->
  </body>
</html>
