---
title: scrollspy

layout_css:
  - bootstrap.min

layout_js:
  - bootstrap.min

compatibility:
  ie: 7+
---

<div class="demo-example">
  <div class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header"></div>
      <nav class="navbar-collapse collapse" id="scrollNav">
        <ul class="nav navbar-nav">
          <li><a href="#fight-with-evil-in-heart">与心魔之战</a></li>
          <li><a href="#master-your-life">将人生置于股掌</a></li>
          <li><a href="#reflection-after-physical-examination">一次体检引起的反思</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <div id="scrollContent" data-spy="scroll" data-taget="#scrollNav" data-offset="0">
        <div id="fight-with-evil-in-heart">
          <h3>与心魔之战</h3>
          <p>在内心争斗的过程中，情绪极度低沉，觉得自己变得十分脆弱，仿佛一口气就能粉碎我的心灵；这时的我，十分痛苦、消极、敏感，承受不了任何外界带来的压力，仿佛一粒尘就能压断我绷紧的神经。我不知道处于那种状态的我是一副什么表情，但我觉得自己身上好像散发出浓烈的阴郁气息，就像超级赛亚人所释放的气，其他人看到这样的我都是敬而远之吧？感觉自己像是没了灵魂的行尸走肉，头脑空白并目光呆滞地走着路，不知要走向哪里。这种痛苦不知道以前是否有过，但在我印象中，没有。虽然不是撕心裂肺，但有种类似于绝望了的心情。这期间，我不知默默地流了多少泪，一个人的战斗就是如此的艰辛和酸楚。</p>
        </div>
        <div id="master-your-life">
          <h3>将人生置于股掌</h3>
          <p>一天下班后在漫步街头时，脑中像在快速播放幻灯片似的，突然画面定格在那天的聊天片段，转而想到「为什么自己目前为止的人生像屎一样？」「为什么有些人，像乔布斯，像马云，就能成功？」根据我所发现的一个道理——一个人能够做成一件事，是因为他找到并掌握了方法——假设世上任何事情都能在允许一定误差的条件下总结出一套通用的方法，那么「人生」这件很宏大的事情也应该同理。我知道要找到这套方法十分不易，不知会花多少时间经历多少事，也许是穷尽一生。但我相信，只要具备较高的悟性并坚持，终有一天会出现在眼前！</p>
        </div>
        <div id="reflection-after-physical-examination">
          <h3>一次体检引起的反思</h3>
          <p>第一项是血常规，登记时发了长短不一的三个管子，排在我前面的同事因为晕血而灰溜溜地「下台」了（其实是进「小黑屋」享受特殊待遇了）。我早已把手机拿在右手中做好准备，将已经爆出青筋的左臂伸出去，直勾勾地看着工作人员将细针扎进去。弄了好几下还没血流出来，我有点无语：「怎么不往那根明显的血管里扎啊？」话音刚落，只见接在细针上的皮管中流出了深红色看起来有点黏稠的液体……可能是我右手的姿势有点怪，并且另一位工作人员发现我在看手机屏幕：「这里不能拍照！」还没等我做任何反应，排在后面的人笑着说：「他没有拍照，是在录像！」我嬉皮笑脸地把手机摄像头关掉了。本来还想拍下整个抽血过程，显示出我的「英勇」呢！</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="demo-description"></section>
