---
title: 纯 CSS 实现的等比例缩放
description: 只使用 CSS 来实现非图片元素的等比例缩放，若里面包含图片则忽略图片本身的比例而撑满容器。

layout_css:
  - bootstrap.min

css:
  - demos/keep-the-aspect-ratio

compatibility:
  ie: 7+
---

<div class="demo-example">
  <div class="container">
    <div id="courseList" class="row">
      {% for i in (1..3) %}
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="course-thumbnail"><a href="#" title="与容器同比例"><img src="http://placehold.it/300x200" class="img-thumbnail" alt="与容器同比例"></a></div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="course-thumbnail"><a href="#" title="与容器不同比例且宽大于高"><img src="http://placehold.it/400x200" class="img-thumbnail" alt="与容器不同比例且宽大于高"></a></div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="course-thumbnail"><a href="#" title="与容器不同比例且宽高相同"><img src="http://placehold.it/300x300" class="img-thumbnail" alt="与容器不同比例且宽高相同"></a></div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="course-thumbnail"><a href="#" title="与容器不同比例且宽小于高"><img src="http://placehold.it/200x300" class="img-thumbnail" alt="与容器不同比例且宽小于高"></a></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<section class="demo-description">
  {% include demo/description.html %}
  <div class="demo-code">
    <div class="code-wrapper column-2">
      <div class="code-content">
        <h3 class="heading">HTML</h3>
{% highlight html %}
<div class="container">
  <div id="courseList" class="row">
    <div class="col-xs-6 col-md-4 col-lg-3">
      <div class="course-thumbnail"><a href="#"><img src="http://placehold.it/200x300"></a></div>
    </div>
  </div>
</div>
{% endhighlight %}
      </div>
      <div class="code-content">
        <h3 class="heading">CSS</h3>
{% highlight css %}
.course-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
  overflow: hidden;
  position: relative;
}

.course-thumbnail a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.course-thumbnail img {
  width: 100%;
  height: 100%;
}
{% endhighlight %}
      </div>
    </div>
  </div>
</section>
