---
title: Tabs with radio buttons

js:
  - demos/bank_tabs
css:
  - demos/bank_tabs
---

<div class="demo-example">
  <div class="radioTabs">
    <div class="radioGroup">
      <label><input name="bank" type="radio" value="person"> 个人</label>
      <label><input name="bank" type="radio" value="company"> 公司</label>
    </div>
    <div class="tab_bank" data-flag="person">个人贷款</div>
    <div class="tab_bank" data-flag="company">公司贷款</div>
  </div>
</div>
<section class="demo-description">
  {% include demo/description.html %}
  <div class="demo-code">
    <div class="code-wrapper column-2">
      <div class="code-content">
        <h3 class="heading">HTML</h3>
{% highlight html %}
<div class="radioTabs">
  <div class="radioGroup">
    <label><input name="bank" type="radio" value="person"> 个人</label>
    <label><input name="bank" type="radio" value="company"> 公司</label>
  </div>
  <div class="tab_bank" data-flag="person">个人贷款</div>
  <div class="tab_bank" data-flag="company">公司贷款</div>
</div>
{% endhighlight %}
      </div>
      <div class="code-content">
        <h3 class="heading">JavaScript</h3>
{% highlight js %}
$("body").on("change", ".radioTabs :radio[name='bank']", function() {
  $(".radioTabs .tab_bank.show").removeClass("show");
  $(".radioTabs .tab_bank[data-flag='" + $(this).val() + "']").addClass("show");
});
{% endhighlight %}
      </div>
    </div>
  </div>
</section>

