---
title: YouYu's UI
description: 有渔的 UI

css:
  - demos/youyu-ui

compatibility:
  ie: 7+
---

<div class="demo-example">
  <section class="UI-demo-area">
    <header>
      <nav>
        <ul class="YY-menu">
          <li><a href="#">无二级菜单</a></li>
          <li class="YY-menu-item--has_submenu">
            <a href="#">有二级菜单</a>
            <ul class="YY-menu-submenu">
              <li><a href="#">子菜单项</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </section>
</div>
<section class="demo-description">
  {% include demo/description.html %}
  <div class="demo-code">
    <div class="code-wrapper column-2">
      <div class="code-content">
        <h3 class="heading">HTML</h3>
{% highlight html %}
<section class="UI-demo-area">
  <header>
    <nav>
      <ul class="YY-menu">
        <li><a href="#">无二级菜单</a></li>
        <li class="YY-menu-item--has_submenu">
          <a href="#">有二级菜单</a>
          <ul class="YY-menu-submenu">
            <li><a href="#">子菜单项</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</section>
{% endhighlight %}
      </div>
      <div class="code-content">
        <h3 class="heading">CSS</h3>
{% highlight css %}
.UI-demo-area header {
  background-color: #FFF;
  box-shadow: 0 2px 0.5em -0.2em #666
}

.YY-menu,.YY-menu-submenu {
  margin: 0;
  padding: 0;
  list-style: none outside none
}

.YY-menu {
  *zoom:1;
  height: 60px
}

.YY-menu:before,
.YY-menu:after {
  content: "\0020";
  display: table
}

.YY-menu:after {
  clear: both
}

.YY-menu > li,
.YY-menu > li > a {
  height: 100%
}

.YY-menu > li {
  float: left;
  position: relative;
  overflow: hidden
}

.YY-menu > li:hover .YY-menu-submenu {
  display: block
}

.YY-menu > li a {
  display: block;
  text-decoration: none
}

.YY-menu > li.YY-menu-item--has_submenu {
  overflow: visible
}

.YY-menu > li.YY-menu-item--has_submenu > a:hover {
  height: 100%;
  border-bottom-width: 0
}

.YY-menu > li > a {
  padding: 0 16px;
  font-size: 16px;
  line-height: 64px;
}

/* 遮挡子菜单的上边阴影 */
@supports (box-shadow: none) or (-moz-box-shadow: none) or (-webkit-box-shadow: none) {
  .YY-menu>li>a {
    position: relative;
    z-index: 1;
    background-color: #FFF
  }
}

.YY-menu > li > a:hover {
  height: 58px;
  border-bottom: 4px solid #3AD0FF;
  color: #2FAAD1
}

.YY-menu-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  background-color: #FFF;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 0.8em rgba(102,102,102,0.7)
}

.YY-menu-submenu a {
  padding: 0 16px;
  line-height: 2
}

.YY-menu-submenu a:hover {
  color: #FFF;
  background-color: #3FAFD9
}
{% endhighlight %}
      </div>
    </div>
  </div>
</section>
