---
layout: demo
title: 双列表条目选择
desc: 双列表条目增删操作
category: demo
limitIE: true
---

<link rel="stylesheet" href="{{ site.data.url.root }}javascript/double-list/double-list.css">
<link rel="stylesheet" href="{{ site.url.demo }}css/double-list.css">

<div id="testList">
  <ul>
    <li>11111</li>
    <li>22222</li>
    <li>33333</li>
    <li><span>44444</span></li>
    <li><a>55555</a></li>
  </ul>
</div>

<script src="{{ site.data.url.root }}javascript/jquery-1.6.1.min.js"></script>
<script src="{{ site.data.url.root }}javascript/double-list/double-list.js"></script>
<script src="{{ site.url.demo }}javascript/double-list.js"></script>
