@import "../../helpers";

body {
  font: normal normal 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  position: relative;
}

.layout-header,
.layout-footer {
  display: none;
}

.layout-main {
  max-width: 1000px;
  margin: 5em auto;
}

.layout-content-head {
  // height: 300px;
  // background: url("../images/cover.jpg") no-repeat 50% 50%;
  // background-size: cover;
  position: relative;
  text-align: center;

  h1,
  p {
    margin: 0;
  }

  h1 {
    color: #94B447;
    font-size: 4em;
  }

  p span {
    display: block;
  }

  .tagline {
    font-size: 2em;
    margin: .5em 0 1em;
  }

  .avatar_link,
  .name_link {
    @include inline-block(bottom);
    margin-left: 5px;
  }

  .avatar_link {
    @include square(30px);
    margin-left: .8em;
  }

  .avatar_link img {
    @include square(100%);
    border: 2px solid #FFF;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    @include box-sizing(border-box);
  }

  .name_link {
    font-family: verdana;
    font-size: 1.25em;
    text-decoration: none;
    color: $color-text-medium;

    &:hover {
      color: $color-text-light;
    }
  }
}

.components {
  margin-top: 5em;
  
  .component {
    padding: 1em 1em 3em;
    border-top: 1px solid #E5E5E5;

    .component-title {
      margin: 0 0 1em;
    }
  }
}

.Column--50 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

#demo-aspectRatio {
  .component-demo,
  .component-demo * {
    @include box-sizing(border-box);
  }

  .component-demo {
    @include clearfix;
  }

  .u-aspectRatio {
    background-color: #FF0;

    &:first-child {
      background-color: #F00;
    }
  }
}
