---
layout: article
title: 浏览器排版引擎介绍【Beta】
tags:
  - 浏览器
published: false
comments: true
---

<p>浏览器的排版引擎（Layout Engine）也被称为页面渲染引擎或样板引擎，它负责取得网页的内容（HTML、XML、图像等等）、整理信息（例如加入CSS等），以及计算网页的显示方式，然后会输出至显示器或打印机。所有浏览器、电子邮件客户端以及其他需要根据表示性的标记语言（Presentational markup）来显示内容的应用程序都需要排版引擎。</p>
<p>在Mozilla将其排版引擎Gecko作为独立于浏览器的一个配件之后，&ldquo;排版引擎&rdquo;这个词汇才被广泛使用。也就是说，除了Mozilla浏览器之外，其他浏览器也可以使用Gecko作为自己的排版引擎。IE的排版引擎被称为Trident，被用在许多Windows的应用程序上。</p>
<p class="last">当今流行的浏览器排版引擎主要有：</p>
<ul>
<li>Trident（英文释义为&ldquo;三叉戟&rdquo;）&mdash;&mdash;又称为&ldquo;MSHTML&rdquo;，是微软的Windows操作系统所搭载的浏览器Internet Explorer的排版引擎名称，它的第一个版本随着1997年10月Internet Explorer第四版释出，之后不断地加入新的技术并随着新版本的Internet Explorer释出。在Internet Explorer第七版中，微软对Trident排版引擎做出了重大的改动，除了加入新的技术之外，还增加了对网页标准的支持。尽管这些变动已经在相当大的程度上落后于其他的排版引擎，如Gecko、WebCore（WebKit）、KHTML及Presto。</li>
<li>Gecko（英文释义为&ldquo;壁虎&rdquo;）&mdash;&mdash;是一套开放源代码、C++编写的网页排版引擎，目前为Mozilla家族网页浏览器以及Netscape 6以后版本浏览器所使用。该引擎原本是由网景通信公司开发的，现则由Mozilla基金会维护，以多许可方式授权释出，包括Mozilla公共许可证（MPL）、GNU通用公共授权条款（GPL）以及GNU较宽松公共许可证（LGPL）。这套排版引擎提供了一个丰富的程序接口以供互联网相关的应用程序使用，例如：网页浏览器、HTML编辑器、客户端/服务器等等。虽然最初主要针对Netscape和Mozilla Firefox的Mozilla派生产品，但现在已有很多其他软件在使用这个排版引擎。Gecko是跨平台的，能在Microsoft Windows、Linux和Mac OS X等主要操作系统上运行。Gecko在互联网中是最流行的排版引擎之一，其流进程度仅次于Trident（用于Windows版的Internet Explorer 4.0版本开始），其后尚有WebKit（用于Safari以及Google Chrome）以及Presto（用于Opera）。</li>
<li>WebKit&mdash;&mdash;是Mac OS X v10.3及以上版本所包含的软件框架。同时WebKit也是Mac OS X的Safari网页浏览器的基础。WebKit是一个开源项目，主要由KED的KHTML修改而来并且包含了一些来自苹果公司的一些组件。传统上，WebKit包含一个网页引擎WebCore和一个脚本引擎JavaScriptCore，它们分别对应的是KDE的KHTML和KJS。不过，随着JavaScript引擎的独立性越来越强，现在WebKit和WebCore已经基本上混用不分（例如Google Chrome采用V8引擎，却仍然宣称自己是WebKit内核）。</li>
<li>Presto（英文释义为&ldquo;迅速的&rdquo;）&mdash;&mdash;是一个由Opera Software开发的浏览器排版引擎，供Opera 7.0及以后版本使用。Presto取代了旧版Opera 4至6版本使用的Elektra排版引擎，包括加入动态功能，例如网页或其部分可随着DOM及Script语法的事件而重新排版。Presto在推出后不断有更新版本推出，使不少错误得以修正，以及阅读JavaScript效能得以最佳化。</li>
</ul>
