---
layout: article
title: 浅谈浏览器的“Quirks Mode”和“Strict Mode”
tags:
  - 浏览器
published: false
comments: true
---

<p class="quote_article">《<a href="http://www.cnblogs.com/NetSos/archive/2011/01/06/1929258.html" target="_blank" rel="external nofollow">温习浏览器渲染模式</a>
》和《<a href="http://www.javaeye.com/topic/241260" target="_blank" rel="external nofollow">浏览器的两种模式quirks mode 和strict mode</a>
》</p>
<p>浏览器渲染模式分为两种：Quirks Mode（怪癖模式/怪异模式/差异模式）和Strict Mode（Standars Mode/标准模式/严格模式）。</p>
<p>由于历史的原因，各个浏览器在对页面的渲染上存在着差异，甚至同一浏览器在不同的版本中对页面的渲染也不同。在W3C标准出台之前，浏览器在对页面的渲染上没有统一的规范，因此产生了Quirks Mode（或者称为Compatibility Mode）；由于W3C标准的推出，浏览器渲染页面有了统一的标准（CSScompat或称为Strict Mode也有叫做Standard Mode），这就是二者最简单的区别。</p>
<p>W3C标准推出以后，浏览器都开始采纳新标准，但存在一个问题就是如何保证旧的网页还能够继续浏览，在标准出来之前，很多页面都是根据旧的渲染方式来编写的，如果用W3C标准来渲染，将导致页面显示异常。为了保持浏览器渲染的兼容性，使以前的页面能够正常浏览，浏览器都保留了旧的渲染方法（如：微软的IE）。这样浏览器渲染上就产生了Quirks Mode和Standard Mode，两种渲染方法共存于一个浏览器上。</p>
<p class="last">有几个重点：</p>
<ol>
<li>浏览器要使老旧的网页正常工作，但这部分网页是没有doctype声明的，所以浏览器对没有doctype声明的网页采用Quirks Mode解析；</li>
<li>在doctype声明中，没有使用DTD声明或者使用HTML4以下（不包括HTML4）的DTD声明时，基本所有的浏览器都是使用Quirks Mode来渲染，其他的声明则使用Strict Mode。</li>
</ol>
<p>Quirks Mode和Strict Mode最大的不同之处在于对&ldquo;盒模式&rdquo;的解释上。</p>
<p>什么是&ldquo;盒模式&rdquo;？这是针对&ldquo;块级元素&rdquo;来说的，在这里只简单地提一下：简单来说就是把&ldquo;块级元素&rdquo;想像成一个装东西的盒子，而margin、padding、border、width/height这些CSS样式属性构成了&ldquo;盒模式&rdquo;。</p>
<p class="last">而区别就是产生在width/height属性上：</p>
<ol>
<li>在Quirks Mode中：width是元素的实际宽度，内容宽度 = width - (margin-left + margin-right + padding-left + padding-right + border-left-width + border-right-width)；</li>
<li>在Strict Mode中：width是元素的内容宽度，实际宽度 = margin-left + border-left-width + padding-left + width + padding-right + border-right-width + margin-right</li>
</ol>
<p class="last">通过JavaScript的代码可以判断出HTML文档是采用哪种模式进行渲染的：</p>
<pre><code>alert(document.compatMode);    // BackCompat -&gt; Quirks Mode; CSS1Compat -&gt; Strict Mode</code>
</pre>
