---
page_category: reference
special_title: API 文档 - Tatami
---
<aside class="toc"></aside>
<section id="documentation">
  {% for api_class in site.data.apis.tatami.classes %}
  <h2 id="class{{ api_class.flag | capitalize }}" class="heading">{{ api_class.name }}</h2>
  {{ api_class.desc }}
  {% for category in api_class.categories %}
  <h3 id="category{{ category.flag | capitalize }}">{{ category.name }}</h3>
  <dl>
  {% for api in category.apis %}
    <dt>{{ api.func }}</dt>
    <dd>{{ api.desc }}</dd>
    {% for inv in api.invoke %}
    <dd class="signature" data-first="{{ forloop.first }}">
      <div class="api_info">
        <code class="invoke">{{ inv.statement }}</code>
        <span class="return_value">{% if inv.return %}{% if inv.return != "undefined" %}{{ inv.return }}{% endif %}{% else %}Anything{% endif %}</span>
        {% if inv.arguments %}
        <dl class="parameters">
          {% for arg in inv.arguments %}
          <dt>{{ arg.name }}</dt>
          <dd>
            <p>[{% if arg.type %}{{ arg.type }}{% else %}Anything{% endif %}]</p>
            {% if arg.desc %}{{ arg.desc }}{% endif %}
          </dd>
          {% endfor %}
        </dl>
        {% endif %}
      </div>
      {% if inv.desc %}{{ inv.desc }}{% endif %}
      {% if inv.demo %}
{% highlight js %}
{{ inv.demo }}
{% endhighlight %}
      {% endif %}
    </dd>
    {% endfor %}
  {% endfor %}
  </dl>
  {% endfor %}
  {% endfor %}
</section>
