body {
  font-size: 14px;
  line-height: $line_height;
}

a {
  &:link,
  &:visited {
    color: #758694;
    text-decoration: none;
  }

  &:hover {
    color: $color-text-light;
    text-decoration: underline;
  }
}

table {
  table-layout: fixed;
  width: 100%;

  tr {
    background-color: #FFF;

    &:nth-child(2n) {
      background-color: #F8F8F8;
    }
  }

  th,
  td {
    border: 1px solid #C5CACE;
    padding: 7px 10px;
  }
}

pre {
  @include block_content;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 20px 0 10px 60px;
  font-size: 1.15em;
  color: $color-text-light;

  &:before {
    content: "\201C";
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;
    font: {
      family: Monaco, Consolas, "Lucida Console", monospace, "Courier New", Courier, serif;
      size: 5em;
    }
    line-height: 1;
    color: #A6A6A6;
  }
}

[lang="zh-CN"] {
  font-family: $font_family-hei;
}

[lang="en"] {
  font-family: $font_family;
}

.heading {
  border-bottom: 1px dashed #D0D0D0;
  padding: 1em 0 .3em;
  margin-bottom: .6em;
  clear: left;
  overflow: hidden;
  font-size: 22px;
}
