@import "layouts/sandwich";

@include layout-sandwich(960px, 50px, 180px);

.layout--sandwich {
  .layout-inner {
    max-width: 960px;
    margin: 0 auto;
  }

  .layout-header {
    position: relative;
    z-index: 2;
    margin-bottom: -52px;
    border-bottom: 2px solid #C5CFD2;
    background-color: #FFF;
  }

  .layout-container {
    &:before {
      height: 52px;
    }

    &:after {
      height: 181px;
    }
  }

  .layout-nav,
  .layout-nav li,
  .layout-nav a {
    display: block;
    height: 100%;
  }

  .layout-nav {
    ul {
      @include no_item;
      @include no_gap;
      @include clearfix;

      li {
        float: left;

        a {
          $c: #A6A6A6;
          
          font-size: 16px;
          line-height: 50px;
          text-transform: uppercase;
          padding: {
            left: 1.2em;
            right: 1.2em;
          }

          &:hover {
            text-decoration: none;
            border-bottom: 2px solid $c;
            height: 48px;
            color: $c;
          }

          &[disabled] {
            display: none;
            color: #CCC;
            cursor: default;

            &:hover {
              border-bottom-style: none;
            }
          }
        }
      }
    }
  }

  .layout-footer {
    margin-top: -181px;
    border-top: 1px solid #DDD;
    color: $color-text;
    background-color: #EEE;
    @include box-shadow(0 0.5em 1em -1em #666 inset);
    overflow: hidden;

    & > .layout-inner {
      padding-top: 15px;
      position: relative;
      @include clearfix;
    }

    p {
      @include no_gap;
    }

    .profile {
      display: none;
      overflow: hidden;
      padding: 5px;
      margin-bottom: 20px;
    }

    .profile_info {
      p {
        line-height: 1.2;
        color: $color-text-light;
        overflow: hidden;
        padding-left: 1px;
      }
    }

    .author {
      font-size: 1em;
      line-height: 1.4;
      margin: 0;

      a {
        font-family: Georgia;
        font-size: 24px;
        color: $color-text;
        text-decoration: none;
        @include text-shadow(0 1px #F5F5F5, 0 0 15px #FFF);

        &:hover {
          color: #555;
        }
      }
    }

    .avatar_link {
      float: left;
      @include square(55px);
      margin-right: 10px;
    }

    .avatar {
      @include square(100%);
      border: 3px solid #FFF;
      @include border-radius(100%);
      @include box-sizing(border-box);
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
      vertical-align: middle;
    }

    .w3c_techs {
      overflow: hidden;
      padding: 5px;
      margin-bottom: 10px;

      img {
        vertical-align: middle;
      }
    }

    .copyright,
    .dependencies {
      overflow: hidden;
      padding-left: 5px;
      font: {
        size: 12px;
        family: Verdana;
      }
    }
  }

  .footer-links {
    width: percent(3, 4);
    min-height: 200px;
    float: left;

    & > div {
      width: percent(1, 3);
      float: left;

      b {
        @include text-shadow(0 1px #FFF);
        border-left: 3px solid #AAA;
        padding-left: .5em;
      }

      ul {
        @include no_item;
        @include no_gap;
        margin-top: .7em;
      }

      li {
        line-height: 16px;
        margin-top: .5em;
      }
    }
  }

  &[data-layout="page"] {
    main > header {
      min-height: 150px;
      background-color: #E5E5E5;
      border-bottom: 1px solid #DDD;
      position: relative;

      .layout-inner {
        height: 100%;
        overflow: hidden;

        h1 {
          margin-bottom: 0;
        }

        p {
          margin-bottom: 20px;
        }
      }
    }

    .layout-content {
      padding: {
        top: 30px;
        bottom: 30px;
      }
    }
  }
}

:root .layout--sandwich {
  .layout-header {
    border-bottom: none;
    @include box-shadow(0 2px .5em -.2em #666);
  }
}

@media all and (max-width: 1000px) {
  .layout-inner {
    padding: {
      left: 1.2em;
      right: 1.2em;
    }
  }
}

@media all and (max-width: 800px) {
  .layout--sandwich {
    .layout-container {
      &:after {
        height: 301px;
      }
    }

    .layout-footer {
      height: 300px;
    }

    .footer-links {
      width: 100%;
      min-height: 0;
      float: none;
      margin-bottom: 30px;
      @include clearfix;
    }
  }
}
