[data-page="404"] {
  .page-404 {
    overflow: hidden;
    font-size: 2em;
    text-align: center;

    img {
      width: 70%;
      vertical-align: middle;
    }
  }
}

[data-page="articles"] article,
[data-page="projects"] .project {
  padding: 1em .333333333em;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #BFBFBF;

  &:first-child {
    border-top-width: 0;
    padding-top: 0;
  }

  &:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
}

[data-page="articles"] .article-title,
[data-page="projects"] .project-name {
  font-size: 1.2em;
  margin: 0;

  a:hover {
    text-decoration: none;
  }
}

[data-page="articles"] .article-meta,
[data-page="projects"] .project-period {
  time {
    font-size: 12px;
  }
}

[data-page="articles"] {
  .statistic {
    padding: 0 10px;
    border-left: 3px solid #AAA;
    background-color: #FFF;
    overflow: hidden;
  }

  .articles {
    margin-top: 30px;
  }
}

[data-page="projects"] {
  .project-thumbnail {
    height: 200px;
    @include covered_background;
    margin-bottom: 15px;
  }

  .Tabs {
    .Tabs-trigger.is-selected {
      border-bottom-color: #F7F7F7;
      background-color: transparent;
    }

    .Tabs-content {
      padding: 2em 0 0;
      background-color: transparent;
    }
  }
}

[data-page="about"] {
  .layout-content {
    .heading:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .avatar {
    @include square(250px);
    float: right;
    margin-left: 15px;
  }

  .event {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .event_name {
    margin: 0;
  }

  .event_period {
    margin: 3px 0 5px;
    font-size: 12px;
  }

  .event_desc {
    @include no_gap;
    line-height: 1.5;
  }
}

[data-page="skills"] {
  table tr:nth-child(2n) {
    background-color: #FFF;
  }
}

[data-page="demo"] {
  .demo-summary {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    padding: 3px 5px;
    border: 1px solid #888;
    border-width: 0 0 1px 1px;
    border-bottom-left-radius: 2px;
    background-color: #FFF;
    font-size: 12px;
  }

  .demo-switcher {
    @include inline-block(none);
    vertical-align: middle;
  }

  .demo-switcher {
    padding: 0 .5em;

    &.current {
      background-color: #DCE4E6; 
    }
  }

  .demo-description {
    display: none;
    padding: 10px 20px;
  }

  .code-wrapper {
    margin: {
      left: -10px;
      right: -10px;
    }
    overflow: hidden;

    &.column-2 {
      .code-content {
        width: 50%;
      }
    }

    &.column-3 {
      .code-content {
        width: percent(1, 3);
      }
    }
  }

  .code-content {
    float: left;

    & .heading,
    & > div {
      margin: 0 10px;
    }
  }
}

:root {
  [data-page="projects"] {
    .project-thumbnail {
      img {
        display: none;
      }
    }
  }
}
