@import "helpers";

html,
body {
  @include square(100%);
  overflow: hidden;
}

.forbidden_message {
  position: absolute;
  z-index: 99999999999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #FFF;
}
