---
template: project
---

{% include intro.html %}
{% include header.html %}
  <main class="layout-container">
    <div class="layout-content layout-inner">{{ content }}</div>
  </main>
{% include footer.html %}
{% include outro.html %}
