@import "../helpers";

.node-chain-container {
  @include clearfix;
  padding: 10px;
  background-color: #E6E6FA;
}

.node-chain {
  @include no_item;
  @include no_gap;
  float: left;

  li {
    @include square(60px);
    position: relative;
    float: left;
    text-align: center;

    &:before,
    &:after,
    span,
    span:before,
    span:after {
      @include inline-block(none);
      vertical-align: middle;
      background-color: #FFF;
    }

    &:before,
    &:after,
    span:before,
    span:after {
      content: "\0020";
    }

    &:before,
    &:after {
      width: 20px;
      height: 6px;
    }

    span,
    span:before {
      height: 100%;
    }

    &:first-of-type:before,
    &:last-of-type:after,
    span,
    span:before {
      background-color: transparent;
    }

    span:after,
    img {
      border-radius: 50%;
    }

    span:after {
      @include square(20px);
    }

    img {
      display: none;
      @include square(40px);
      position: absolute;
      left: 50%;
      top: 50%;
      margin: {
        left: -20px;
        top: -20px;
      }
    }

    &:hover,
    &.chain_node--selected {
      img {
        display: block;
      }
    }

    &:hover ~ .chain_node--selected {
      img {
        display: none;
      }
    }
  }
}

.node-chain--completed {
  &:hover {
    li {
      &.chain_node--selected {
        img {
          display: none;
        }
      }

      &:hover {
        img {
          display: block;
        }
      }
    }
  }
}
