$gap: 30px;

#courseList {
  padding-top: $gap;
}

.course-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 100% * 2/3;
  overflow: hidden;
  position: relative;

  margin-bottom: $gap;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
