@import "../helpers";
@import "../layouts/sandwich";

.layout--sandwich {
  .layout-header,
  .layout-footer {
    text-align: center;
    text-transform: capitalize;
    font: bold 16px/100px "Times New Roman";
    text-shadow: 1px 1px #FFF;
  }

  .layout-header {
    margin-bottom: -50px;
    border-bottom: none;
    background-color: #F0F;
    line-height: 50px;
  }

  .layout-footer {
    height: 100px;
    margin-top: -100px;
    border-top: none;
    background-color: silver;
    line-height: 100px;
  }

  .layout-container {
    &:before {
      height: 50px;
    }

    &:after {
      height: 100px;
    }
  }

  .layout-content {
    @include clearfix;
  }

  .layout-main {
    width: 640px;
    float: left;
    background-color: gold;
  }

  .layout-sub {
    width: 300px;
    float: right;
    background-color: lime;
  }

  .layout-dummy--top,
  .layout-dummy--bottom {
    position: relative;
    z-index: -99999999;
    visibility: hidden;
    background: transparent none;
  }

  .layout-dummy--top {
    height: 50px;
  }

  .layout-dummy--bottom {
    height: 100px;
  }
}

:root .layout--sandwich {
  .layout-header,
  .layout-footer {
    @include box-shadow(none);
  }
}
