---
title: 阻止文本框失焦
description: 阻止文本框失焦

css:
  - issues/prevent-blur
js:
  - issues/prevent-blur

compatibility:
  ie: 7+
---

<div class="demo-example">
  <div class="demoContainer">
    <input class="textInputer" type="text" value="">
    <div class="textContent">
      <p>点击色块里面时，文本框不会失焦，点击其他地方则失焦。</p>
    </div>
  </div>
</div>
<section class="demo-description">
  {% include demo/description.html %}
</section>
