---
title: jQuery Pagination
description: 基于 jQuery 的翻页插件

layout_css:
  - jquery-pagination
layout_js:
  - jquery-pagination
js:
  - demos/jquery-pagination

compatibility:
  ie: 8+
---

<div class="demo-example">
  <nav id="testPagination"></nav>
  <nav id="testTinyPaginator"></nav>
</div>
