---
title: ECMAScript
description: JavaScript 的标准，同时也是 JavaScript 核心。
permalink: /tutorials/javascript/es/
---

<p>在阅读其他内容之前，请先了解一下<a href="convention/">约定</a>。</p>
<h2 class="heading">相关内容</h2>
<ul>
  <li><a href="basics/">ECMAScript 基础</a></li>
</ul>
